{
    "token": "",
    "guildId": "",
    "database_details": {
        "host": "localhost",
        "user": "",
        "port": 3306,
        "database": "discord_bots",
        "password": ""
    },
    "embedSettings": {
        "color": "15548997",
        "footer": {
            "text": "Candor Studios"
        }
    }
}